---
import type { Article } from "@/data/articles";

interface Props {
    article: Article;
}

const { article } = Astro.props;
---

<article
    class="bg-white dark:bg-slate-800 rounded-xl shadow-sm overflow-hidden flex flex-col group hover:shadow-md transition-all duration-300 h-full border border-slate-100 dark:border-slate-700"
>
    <div class="relative aspect-[4/3] overflow-hidden">
        <img
            alt={article.title}
            class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
            src={article.image}
            loading="lazy"
        />
    </div>
    <div class="p-6 flex flex-col flex-grow">
        <div class="mb-4">
            <span
                class="inline-block px-3 py-1 border border-primary text-primary text-[10px] font-bold tracking-widest rounded uppercase"
                >{article.category}</span
            >
        </div>
        <h3
            class="text-lg font-bold text-slate-800 dark:text-slate-100 leading-snug mb-3 line-clamp-3 group-hover:text-primary transition-colors"
        >
            <a href={`/article/${article.slug}`}>
                {article.title}
            </a>
        </h3>
    </div>
</article>
